<div class="container">
  <ul class="list-group">
    <li class="list-group-item" ng-repeat="note in main.notes">
      <p><strong>{{note.title}}</strong></p>
      <p>{{note.content}}</p>
    </li>
  </ul>
</div>

<div ng-model="main.note" ui-ace="{
  useWrapMode: true,
  showGutter: true,
  theme: 'chrome',
  mode: 'markdown',
  advanced: {
      enableSnippets: true,
      enableBasicAutocompletion: true,
      enableLiveAutocompletion: true
  }
}"></div>
<button class="btn btn-primary btn-large" ng-click="main.submitNote(main.note)">Submit</button>
