
.fa-arrows-v {
  margin-right: 0.5em;
}

.add {
  font-weight: bold;
  line-height: 1;
  color: #000000;
  text-shadow: 0 1px 0 #ffffff;
  opacity: 0.2;
}

button.add {
  padding: 0.35em 0 0;
  margin-left: 0.3em;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
}

.caret-right {
  border-bottom: 4px solid transparent;
  border-top: 4px solid transparent;
  border-left: 4px solid;
  display: inline-block;
  height: 0;
  vertical-align: center;
  width: 0;
}

.nav-pills {

  > li {
    > a {
      &:hover, &:focus {
        color: #337ab7;
        background-color: #ffffff;
      }
    }
    &.active > a {
      color: #337ab7;
      background-color: #eeeeee;

      &:hover, &:focus {
        color: #337ab7;
        background-color: #eeeeee;
      }
    }
  }

  li {
    cursor: pointer;

    > a {
      border-radius: 4px;
      position: relative;
      display: block;
      padding: 10px 15px;
      float: none;
      text-decoration: none;

      &:hover, &:focus {
        background-color: #ffffff;
      }
    }

    &.active > a {
      background-color: #eeeeee;
    }
  }
}