
<script type="text/ng-template" id="node_renderer.html">
  <i ui-tree-handle="" class="fa fa-arrows-v text-muted" aria-hidden="true"></i>
  <span>
    {{node.title ? node.title : 'Untitled Note'}}
  </span>
  <button ng-click="$ctrl.onDelete({note: node})" type="button" class="close pull-right" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
  <ul class="nav nav-pills nav-stacked" ui-tree-nodes="" ng-model="node.nodes">
    <li ng-repeat="node in node.nodes" ui-tree-node ng-include="'node_renderer.html'">
    </li>
  </ul>
</script>

<section ui-tree>
  <ul class="nav nav-pills nav-stacked"
      ui-tree-nodes=""
      data-drag-delay="100"
      ng-model="$ctrl.nodes"
      id="tree-root">
    <li ng-click="$ctrl.onSelect({note: node})" ng-repeat="node in $ctrl.nodes" ui-tree-node role="presentation">
      <a href="#" ng-include="'node_renderer.html'"></a>
    </li>
  </ul>
</section>

<button class="btn btn-primary btn-block" ng-click="$ctrl.onCreate()">Add</button>
